<div class="container">
    <div class="login-form">
        <h1>Dashboard Login</h1>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
            <span class="p-float-label">
                <input id="float-input-email" type="text" pInputText [style]="{'width': '100%'}" [(ngModel)]="identifier" name="identifier" required> 
                <label for="float-input-email">Email or username</label>
                <small *ngIf="loginForm.controls['identifier']?.errors?.['required']" id="password-help" class="p-error block">Email or username is required.</small>
            </span>
            <span class="p-float-label">
                <input id="float-input-password" type="password" pInputText [style]="{'width': '100%'}" [(ngModel)]="password" name="password" required #passwordField="ngModel"> 
                <label for="float-input-password">Password</label>
                <small *ngIf="passwordField.errors" id="password-help" class="p-error block">Password is required.</small>
            </span>
            <div class="buttons">
                <button pButton type="button">Register</button>
                <button pButton type="submit" [disabled]="loginForm.invalid">Login</button>
            </div>
        </form>
    </div>
</div>