<p-toolbar>
    <span>Dashboard</span>
    <button pButton type="button" class="p-button-sm" (click)="sendMessage()">Send Message</button>
    <div class="user">
        <p-avatar shape="circle" icon="pi pi-user"></p-avatar>
        <span>Gregor Doroschenko</span>
    </div>
</p-toolbar>

<div class="content">
    <div class="sidebar">
        <p-menu [model]="menuItems" [style]="{'height': '100%', 'border': 'none'}"></p-menu>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>